.img-wrap {

    flex: 0 0 26%;

    max-width: 26%;

    padding: 0 10px;

    position: relative;

}

.youtube-text{

    flex: 0 0 60%;

    max-width: 60%;

    padding: 0 15px;

}

.youtube-feeder-list .youtube-text h4 {

    margin-top: 10px;

    font-size: 18px;

    line-height: 20px;

    color: black;

    /* font-weight: 600; */

    margin-bottom: 10px;

}

.youtube-img{

    border-radius: 6px !important;

    object-fit: cover;

    width: 100%;

    margin-bottom: 10px;

}

.youtube-img:hover{

    border-radius: 0px !important;

}

.youtube-icon{

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%,-50%);

    width: 40px !important;

    z-index: 1;

}

.visit-playlist-title h2 {

    font-size: 40px;

     font-weight: 600;

     margin-bottom: 20px;

}

.youtube-box-inner{

    display: flex;

    flex-wrap: wrap;

    margin: 0 -10px;

}

.visit-playlist-wrapper .youtube-feeder-column:not(:last-child){

    margin-bottom: 20px;

}

.visit-playlist-wrapper .youtube-feeder-column {

    flex: 0 0 100%;

    max-width: 100%;

}

@media(max-width:1024px){

    .img-wrap,.youtube-text{

        flex: 0 0 100%;

        max-width: 100%;

    }

    .visit-playlist-wrapper{

        display: flex;

        flex-wrap: wrap;

        margin: 0 -10px;

    }

    .visit-playlist-wrapper  .youtube-feeder-column{

        flex:  0 0 50%;

        max-width: 50%;

         padding: 0 10px;

    }

    .youtube-text h4 {

        display: -webkit-box;

        -webkit-line-clamp: 2;

        -webkit-box-orient: vertical;  

        overflow: hidden;

        font-size: 16px;

        line-height: 20px;

        margin-bottom: 10px;

    }

    .visit-playlist-title h2 {

        font-size: 28px;

    }

}

@media(max-width:425px){

    .visit-playlist-wrapper .youtube-feeder-column{

        flex: 0 0 100%;

        max-width: 100%;

    }

     .visit-playlist-title h2 {

        font-size: 18px;

    }

    .youtube-text h4{

        font-size: 14px;

    }

}



/*Grid Css Start*/

.youtube-feeder-grid{

    display: flex;

    flex-wrap: wrap;

    margin:  0 -10px;

}

.youtube-feeder-grid .youtube-feeder-column{

    flex: 0 0 33.33%;

    max-width: 33.33%;

    padding: 0 0px;

}

.youtube-feeder-grid img {

    width: 100%;

    height: auto;

}

.youtube-feeder-grid .youtube-box {

    padding: 0 10px;

}



.youtube-feeder-grid .youtube-text,

.youtube-feeder-grid .img-wrap{

    flex: 0 0 100%;

    max-width: 100%;

    padding: 0px;

}

.youtube-feeder-grid .youtube-box-inner{

    margin: 0;

}

 .youtube-feeder-grid .youtube-text h4 {

    display: -webkit-box;

    -webkit-line-clamp: 3;

    -webkit-box-orient: vertical;  

    overflow: hidden;

    font-size: 18px;

    line-height: 20px;

    color: black;

    /* font-weight: 600; */

    margin-bottom: 10px;

    margin-top: 10px;

    margin-bottom: 5px;

}

.youtube-feeder-grid video {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

}



.youtube-meta{

    display: flex;

    flex-wrap: wrap;

}

.mfp-close[type=button]:focus, .mfp-close[type=button]:hover, .mfp-close[type=submit]:focus, [type=submit]:hover, .mfp-closebutton:focus, .mfp-closebutton:hover {
    background-color: transparent;
    outline: none;
}

.video-fedder-channel {

    font-size: 14px;

    margin-right: 10px;

    color: #666666;

}



.video-fedder-publish {

    font-size: 14px;

    color: #666666;

}
.youtube-box .img-wrap img {
    max-width: 100%;
    height: auto;
}

.youtube-box .img-wrap img {

    max-width: 100%;

    height: auto;

}



@media(max-width:1024px){

    .youtube-feeder-grid .youtube-feeder-column{

        flex: 0 0 50%;

        max-width: 50%;

    }

}

@media(max-width:425px){

    .youtube-feeder-grid .youtube-feeder-column{

        flex: 0 0 100%;

        max-width: 100%;

    }

}